{% extends 'base.html' %}

{% block head %}

<title>Training Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<form action = "/train" method="POST">
			<h4 class="my-4 title">Car Price Prediction</h4>
			<div class="form">
				<div class="col-md-6 col-xs-12">
					<br/>
					<form method="POST" id="datafetch_form" enctype="multipart/form-data">
						<div class="form-group files color">
							<input type="text" name = "csvfile" id="csvfile" class="form-control" placeholder="Enter absolute file path." required>
						</div>
						<div class=""><button class="form-control btn-primary" id="customfile" name = "customfile">Custom File Predict</button></div>
						<br/><center><b>Or</b></center><br/>
						<button class="form-control btn-primary mb-5" name = 'defaultfile' id="defaultfile"  data-path = "Training_Batch_Files">
							Default File Predict
						</button>
					</form>
				</div>

			</div>
		</form>
<div id="loading"><div class="loader"></div></div>
	 <!--Bootstrap core JavaScript
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$('#loading').hide();
			$("#customfile").click(function(e){
				e.preventDefault();
				$('#loading').show();
				var path = $("#csvfile").val();
				$.ajax({
					//change url below
					url : "/train",
					type: "POST",
					data: {filepath:path},
				});
			});
			$("#defaultfile").click(function(e){
				e.preventDefault();
				$('#loading').show();
				var path = $(this).attr("data-path");
				$.ajax({
					//change url below
					url : "/train",
					type: "POST",
					data: {filepath:path},
				});

			});
		});

	</script> -->

{% endblock %}